<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head><%- include('head') %></head>
  <body>
    <div class="outer">
      <div class="inner">
        <div class="contents">
          <div class="onlineHover">
            <div class="online">
              <div class="guestCnt">0</div>
            </div>
            <span>&nbsp;Online</span>
          </div>
          <div class="apps">
            <div class="app">
              <span>속력이 일정한 운동</span>
              <a class="appLink" href="/app/1"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('script') %>
  </body>
</html>
